---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar";
// const [isModalOpen, setIsModalOpen] = useState(false);
// const [modalContent, setModalContent] = useState({ title: "", content: "" });

const title = "Bienvenido a Ares Gym";
const description =
	"Transforma tu cuerpo y mente en nuestro gimnasio. ¡Inscríbete hoy!";
const buttonText = "Únete Hoy";
const backgroundImage = "/gym-hero.jpg"; // Puedes cambiar la imagen según lo necesites
const buttonLink = "#contact";
---

<Layout title="Ares Gym">
	<Navbar client:load />
	<section
		class="relative bg-cover bg-center h-screen flex items-center justify-center text-white"
		style={`background-image: url(${backgroundImage});`}
	>
		<!-- Overlay para dar un efecto de sombra sobre la imagen de fondo -->
		<div class="absolute inset-0 bg-black bg-opacity-50"></div>

		<!-- Contenido del Hero -->
		<div class="relative text-center px-6 z-10">
			<h1 class="text-4xl md:text-6xl font-bold mb-4 tracking-wide">{title}</h1>
			<p class="text-lg md:text-2xl mb-6 max-w-2xl mx-auto">{description}</p>
			<a
				href={buttonLink}
				class="inline-block bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-8 rounded-lg text-lg md:text-xl transition duration-300 ease-in-out"
			>
				{buttonText}
			</a>
		</div>
	</section>
	<section id="acerca-de" class="py-16 bg-gray-100">
		<div
			class="container mx-auto flex flex-col md:flex-row items-center justify-between"
		>
			<!-- Texto de la sección -->
			<div class="md:w-1/2 text-center md:text-left px-6">
				<h2 class="text-3xl font-bold mb-4">Sobre Nosotros</h2>
				<p class="text-lg mb-6">
					En <strong>Ares Gym</strong>, nuestra misión es ayudarte a alcanzar
					tus metas de fitness. Contamos con entrenadores altamente capacitados,
					equipos de última tecnología y una comunidad dedicada a mejorar la
					salud y el bienestar. Nuestro enfoque está en ofrecer programas
					personalizados que se adapten a las necesidades de cada persona.
				</p>
				<p class="text-lg mb-6">
					Ya sea que estés comenzando tu viaje fitness o que seas un atleta
					experimentado, nuestro gimnasio tiene algo para ti. ¡Únete a nuestra
					comunidad y transforma tu cuerpo y mente hoy mismo!
				</p>
			</div>

			<!-- Imagen de la sección -->
			<div class="md:w-1/2 mt-8 md:mt-0 px-6">
				<img
					src="https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
					alt="Imagen del gimnasio"
					class="rounded-lg shadow-lg"
				/>
			</div>
		</div>
	</section>

	<section id="servicios" class="py-16 bg-white">
		<div class="container mx-auto text-center">
			<h2 class="text-3xl font-bold mb-12">Nuestros Servicios</h2>

			<!-- Grid de Servicios -->
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 px-6">
				<!-- Servicio 1 -->
				<div
					class="bg-gray-100 p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
				>
					<img
						src="https://images.pexels.com/photos/2204196/pexels-photo-2204196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt="Servicio de Entrenamiento Personal"
						class="mx-auto mb-4 w-full"
					/>
					<h3 class="text-xl font-semibold mb-2">Entrenamiento Personal</h3>
					<p class="text-gray-600">
						Nuestros entrenadores te ayudarán a alcanzar tus metas con planes
						personalizados.
					</p>
				</div>

				<!-- Servicio 2 -->

				<!-- Servicio 3 -->

				<!-- Servicio 4 -->
				<div
					class="bg-gray-100 p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
				>
					<img
						src="https://images.pexels.com/photos/6046980/pexels-photo-6046980.png?auto=compress&cs=tinysrgb&w=600"
						alt="Área de Pesas"
						class="mx-auto mb-4 w-full"
					/>
					<h3 class="text-xl font-semibold mb-2">Área de Pesas</h3>
					<p class="text-gray-600">
						Levanta pesas con nuestro equipo de última tecnología y mejora tu
						fuerza muscular.
					</p>
				</div>

				<!-- Servicio 5 -->
				<div
					class="bg-gray-100 p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
				>
					<img
						src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&w=600"
						alt="Entrenamiento Funcional"
						class="mx-auto mb-4 w-full"
					/>
					<h3 class="text-xl font-semibold mb-2">Entrenamiento Funcional</h3>
					<p class="text-gray-600">
						Desarrolla fuerza, movilidad y resistencia con nuestras sesiones de
						entrenamiento funcional.
					</p>
				</div>

				<!-- Servicio 6 -->
				<div
					class="bg-gray-100 p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
				>
					<img
						src="https://images.pexels.com/photos/1153370/pexels-photo-1153370.jpeg?auto=compress&cs=tinysrgb&w=600"
						alt="Nutrición Deportiva"
						class="mx-auto mb-4 w-full"
					/>
					<h3 class="text-xl font-semibold mb-2">Nutrición Deportiva</h3>
					<p class="text-gray-600">
						Obtén asesoría nutricional personalizada para complementar tu
						entrenamiento.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="trainer" class="py-16 bg-gray-100">
		<div class="container mx-auto text-center">
			<h2 class="text-3xl font-bold mb-12">Nuestro Entrenador Principal</h2>

			<!-- Tarjeta del Entrenador -->
			<div
				class="bg-white p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out max-w-sm mx-auto"
			>
				<img
					src="https://images.pexels.com/photos/20901484/pexels-photo-20901484/free-photo-of-hombre-cuerda-ejercicio-entrenamiento.jpeg?auto=compress&cs=tinysrgb&w=600"
					alt="Entrenador Carlos Gómez"
					class="w-full mx-auto mb-4"
				/>
				<h3 class="text-xl font-semibold mb-2">Carlos Rosero</h3>
				<p class="text-gray-500 mb-2">Entrenador Personal</p>
				<p class="text-gray-600">
					Especializado en entrenamiento de fuerza y acondicionamiento físico.
					Más de 4 años de experiencia ayudando a personas a alcanzar sus
					objetivos físicos de manera eficiente y saludable.
				</p>
			</div>
		</div>
	</section>

	<section id="contacto" class="py-16 bg-gray-100">
		<div class="container mx-auto px-6">
			<h2 class="text-3xl font-bold text-center mb-12">Contáctanos</h2>

			<div class="flex flex-col md:flex-row md:space-x-10">
				<!-- Formulario de Contacto -->
				<div class="md:w-1/2 bg-white p-8 rounded-lg shadow-lg">
					<h3 class="text-2xl font-semibold mb-6">Envíanos un mensaje</h3>
					<form action="#" method="POST" class="space-y-4">
						<div>
							<label
								for="name"
								class="block text-left text-gray-700 font-semibold"
								>Nombre</label
							>
							<input
								type="text"
								id="name"
								name="name"
								class="w-full p-3 border border-gray-300 rounded-lg"
								placeholder="Tu nombre"
								required
							/>
						</div>

						<div>
							<label
								for="email"
								class="block text-left text-gray-700 font-semibold"
								>Correo electrónico</label
							>
							<input
								type="email"
								id="email"
								name="email"
								class="w-full p-3 border border-gray-300 rounded-lg"
								placeholder="tuemail@example.com"
								required
							/>
						</div>

						<div>
							<label
								for="message"
								class="block text-left text-gray-700 font-semibold"
								>Mensaje</label
							>
							<textarea
								id="message"
								name="message"
								rows="5"
								class="w-full p-3 border border-gray-300 rounded-lg"
								placeholder="Tu mensaje"
								required></textarea>
						</div>

						<button
							type="submit"
							class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-300 ease-in-out"
						>
							Enviar
						</button>
					</form>
				</div>

				<!-- Información de Contacto -->
				<div class="md:w-1/2 mt-10 md:mt-0 bg-white p-8 rounded-lg shadow-lg">
					<h3 class="text-2xl font-semibold mb-6">Detalles de Contacto</h3>
					<p class="text-gray-700 mb-4">
						Puedes visitarnos en nuestra ubicación o contactarnos a través de
						los siguientes medios:
					</p>

					<div class="space-y-4">
						<div class="flex items-center">
							<svg
								class="w-6 h-6 text-gray-900 mr-4"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M3 8l7.89 5.26c.21.14.47.14.68 0L19 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
								></path>
							</svg>
							<span class="text-gray-600"> carlos_rosero_p@hotmail.com</span>
						</div>

						<div class="flex items-center">
							<svg
								class="w-6 h-6 text-gray-900 mr-4"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M3 10h2a2 2 0 012 2v6a2 2 0 01-2 2H3v-4h2m0 0V10m0 0h2m0 0a2 2 0 002 2h6a2 2 0 002-2h2M5 19h14a2 2 0 002-2v-6a2 2 0 00-2-2h-1m-2 0a2 2 0 01-2-2v-4a2 2 0 012-2h1M3 10V6a2 2 0 012-2h14a2 2 0 012 2v10"
								></path>
							</svg>
							<span class="text-gray-600">+593 99 819 1554</span>
						</div>

						<div class="flex items-center">
							<svg
								class="w-6 h-6 text-gray-900 mr-4"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M16 17l-4-4-4 4m8 0a6 6 0 00-8.82-8.82M5 13h3a9 9 0 0114 0h3"
								></path>
							</svg>
							<span class="text-gray-600">
								Oswaldo Guayasamin y Manuela Garaycoa</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="bg-black text-white py-10">
		<div class="container mx-auto px-6">
			<!-- Logo y Redes Sociales -->
			<div class="flex flex-col md:flex-row justify-between items-center mb-6">
				<!-- Logo -->
				<div class="mb-6 md:mb-0 flex items-center">
					<a href="/" class="text-2xl font-bold text-white">Ares Gym</a>
					<img src="./lgo.png" gym-hero.jpg";" alt="" class="h-14" />
				</div>

				<!-- Redes Sociales -->
				<div class="flex space-x-4">
					<a
						target="_blank"
						href="https://www.facebook.com/profile.php?id=100067138284628"
						aria-label="Facebook"
						class="text-gray-300 hover:text-white transition"
					>
						<svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
							<path
								d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.99 3.66 9.13 8.44 9.88v-7H8v-3h2.44V9.67c0-2.47 1.48-3.83 3.73-3.83 1.08 0 2.22.19 2.22.19v2.43h-1.25c-1.23 0-1.61.76-1.61 1.54v1.82h2.84l-.45 3h-2.39v7C18.34 21.13 22 16.99 22 12z"
							></path>
						</svg>
					</a>
					<a
						target="_blank"
						href="https://www.instagram.com/aress_gym?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
						aria-label="Instagram"
						class="text-gray-300 hover:text-white transition"
					>
						<svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
							<path
								d="M7.75 2h8.5C19.55 2 22 4.45 22 7.75v8.5c0 3.3-2.45 5.75-5.75 5.75h-8.5C4.45 22 2 19.55 2 16.25v-8.5C2 4.45 4.45 2 7.75 2zm0 2C5.95 4 4.5 5.45 4.5 7.25v8.5c0 1.8 1.45 3.25 3.25 3.25h8.5c1.8 0 3.25-1.45 3.25-3.25v-8.5C19.5 5.45 18.05 4 16.25 4h-8.5zM12 7a5 5 0 110 10 5 5 0 010-10zm6.5-2.25c.66 0 1.2.54 1.2 1.2 0 .66-.54 1.2-1.2 1.2-.66 0-1.2-.54-1.2-1.2 0-.66.54-1.2 1.2-1.2zM12 9.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"
							></path>
						</svg>
					</a>

					<a
						href="https://wa.me/593998191554?text=Hola,%20estoy%20interesado%20en%20el%20gimnasio"
						aria-label="WhatsApp"
						class="text-gray-300 hover:text-white transition"
					>
						<svg class="w-6 h-6 fill-current" viewBox="0 0 32 32">
							<path
								d="M16.036 0C7.201 0 .036 7.163.036 16.003c0 2.818.735 5.564 2.135 7.977L.055 31.907l7.142-2.084c2.298 1.26 4.895 1.925 7.569 1.925 8.835 0 16-7.163 16-16.003C32.036 7.163 24.87 0 16.036 0zm8.741 22.474c-.367 1.037-1.878 1.919-3.063 2.179-.819.174-1.876.316-5.429-1.156-4.551-1.889-7.422-6.482-7.65-6.78-.225-.3-1.824-2.427-1.824-4.634s1.15-3.293 1.564-3.747c.413-.456.907-.57 1.207-.57.299 0 .602.009.863.015.275.006.646-.105 1.011.77.367.877 1.254 3.015 1.364 3.233.112.225.186.487.037.787-.15.3-.225.487-.449.751-.225.262-.474.585-.678.785-.225.224-.456.468-.195.922.263.456 1.17 1.92 2.514 3.103 1.727 1.542 3.086 2.022 3.542 2.247.455.225.72.187.989-.112.262-.3 1.127-1.313 1.426-1.762.3-.449.6-.374.989-.225.375.15 2.374 1.118 2.785 1.324.413.225.676.337.775.524.105.182.105.974-.262 2.01z"
							></path>
						</svg>
					</a>
				</div>
			</div>

			<!-- Información de contacto -->
			<div class="text-center md:text-left space-y-4">
				<p>Contacto: carlos_rosero_p@hotmail.com</p>
				<p>Teléfono: +593 99 819 1554</p>
				<p>Dirección: Oswaldo Guayasamin y Manuela Garaycoa</p>
			</div>

			<!-- Derechos reservados -->
			<div class="mt-6 text-center text-gray-400">
				<p>&copy; 2024 Ares Gym Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>
</Layout>
